/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
  .like-icon {
    fill: var(--bg-color);
    inline-size: 39px;
    block-size: 36px;
  }
  
  .like-icon .heart {
    transition: fill .1s;
    transform-origin: center center;
  }

  
  
  /* По умолчанию: */
  .like-icon .contour {
    fill: var(--accent-color);
    transition: fill .1s linear;
  }
  
  .like-icon .core {
    fill: var(--bg-color);
    transition: fill .3s linear .03s;
  }

  .like-icon .main-body {
    fill: var(--bg-color);
    transition: fill .3s linear;
  }


  /* При наведении: */
  .card__icon-button:hover .core {
    fill: var(--accent-color);
    transition: fill .3s linear;
  }
  
  .card__icon-button:hover .main-body {
    fill: var(--accent-color);
    transition: fill .3s linear .05s;
  }

  
  /* При активации:*/
  .card__icon-button:active .core {
    fill: var(--heart-color);
    transition: fill .3s linear;
  }

  .card__icon-button:active .main-body {
    fill: var(--heart-color);
    transition: fill .3s linear .05s;
  }
  
  
  /* При выборе(.is-liked):*/
  .like-icon.is-liked .contour {
    fill: var(--heart-color);
    transition: fill .3s linear .06s;
  }

  .like-icon.is-liked .core {
    fill: var(--heart-color);
    transition: fill .3s linear;
  }

  .like-icon.is-liked .main-body {
    fill: var(--heart-color);
    transition: fill .3s linear .05s;
  }

  
  /* Искры */
  .like-icon .sparks {
    opacity: 0;
    fill: var(--heart-color);
  }
  
  .like-icon.is-liked .sparks {
    animation: sparks .3s ease-in .3s;
  }
  
  .like-icon.is-liked .heart {
    animation: scale .3s ease-in .1s;
  }
  
  @keyframes scale {
    from {
      scale: 1;
    }
  
    to {
      scale: 1.25;
    }
  }
  
  @keyframes sparks {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  
  @keyframes path {
    from {
      left: 8px;
    }
  
    to {
      left: 4px;
    }
  }
