/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

@supports (-webkit-text-stroke: 1px #fff) or (text-stroke: 1px #fff) {
  .card__image-label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' 400;

  background-image: repeating-linear-gradient(
      to bottom,
      var(--bg-color) 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to left,
      transparent 0 2px,
      var(--bg-color) 2px 4px
    ),
    linear-gradient(
      180deg,
      var(--linear-gradient-first) 0%,
      var(--linear-gradient-second) 100%
    );
  background-size: cover;
  background-attachment: fixed;
}

.header {
  color: var(--accent-color);
  text-transform: uppercase;
  font-family: var(--accent-font), sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 8.1rem 0 126.5px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
}



.content {
  margin: 0 auto;
  max-inline-size: 701px;
}
header.content {
  margin-block-start: 98px;
  margin-bottom: 95.4px;
}

.theme-menu__item {
  margin-block-end: 9px;
}

.header__title {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__description {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 4px;
}

.card {
  background-color: var(--bg-color);
  margin-block-end: 50px;
  color: var(--accent-color);
}

.card__title {
  font-family: var(--main-font), sans-serif;
  border: 2px solid var(--border-color);
  font-size: 18px;
  font-weight: var(--header-weight);
  line-height: normal;
  font-style: normal;
  padding: 5px 22px 5px 8px;
  font-variation-settings: 'wght' var(--header-weight);
}

.card__image {
  position: relative;
  border: 2px solid var(--border-color);
  border-block-start: none;
  aspect-ratio: 1 / 1;
}

.image {
  object-fit: cover;
  object-position: center center;
  display: block;
  width: 100%;
  height: 100%;
}

.image-grayscale {
  filter: grayscale(75%);
}

.image-saturate {
  filter: saturate(400%);
}

.image-huerotate {
  filter: hue-rotate(30deg);
}

.image-invert {
  filter: invert(90%);
}

.image-sepia {
  filter: sepia(90%);
}

.image-blur {
  filter: blur(10px);
}

.image-huerotate-opacity {
  filter: hue-rotate(100deg) opacity(70%);
}


.card__image-label {
  position: absolute;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-weight: 400;
  top: 25px;
  right: 25px;
  color: var(--accent-color);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 var(--stroke-color), 0 1px var(--stroke-color),
    0 -1px var(--stroke-color), 1px 0 var(--stroke-color);
}

.card__content {
  border: 2px solid var(--border-color);
  padding: 18px 25.1px 22.4px 26.1px;
}

.card__buttons {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
}

.card__icon-button:focus,
.card__icon-button:focus-visible {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__content-text {
  font-family: var(--main-font), sans-serif;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 21px;
  font-weight: var(--text-weight);
  font-variation-settings: 'wght' var(--text-weight);
}

.card__content-text:nth-child(1) {
  margin-block-end: 27px;
}

.card__content-text:nth-child(2) {
  margin-block-end: 25px;
}

.card__like-button {
  border: 2px solid var(--border-color);
  padding: 9px 17px;
  background-color: var(--bg-color);
  justify-content: center;
  align-items: center;
  block-size: 38px;
  inline-size: 130px;
  position: relative;
}

.outline_none:focus-visible,
.outline_none:focus {
  outline: none;
}

.button-accent_sliding:hover::before {
  width: 100%;
}

.button-accent_sliding::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: var(--accent-color);
  transition: width 0.3s ease;
  inline-size: 100%;
  block-size: 100%;
  width: 0;
}

.button-accent_sliding:hover {
  cursor: pointer;
}


.button__text {
  font-size: 14px;
  font-family: var(--accent-font), sans-serif;
  color: var(--mix-blend-color);
  font-weight: 400;
  font-style: normal;
  mix-blend-mode: difference;
  line-height: 12.6px;
}

.button__text-rembemer {
  font-size: 14px;
  font-family: var(--accent-font), sans-serif;
  color: var(--mix-blend-color);
  mix-blend-mode: difference;
  font-weight: 400;
  font-style: normal;
  line-height: 12.6px;
}

.floppy {
  fill: var(--mix-blend-color);
  inline-size: 28px;
  block-size: 28px;
  stroke: var(--mix-blend-color);
  mix-blend-mode: difference;
}

.button-remember {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  padding: 15px 20px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  cursor: pointer;
  position: relative;
}

.button-focus_shadow{
  transition: box-shadow 0.3s ease;
}

.button-focus_shadow:focus-visible {
  box-shadow: 2px 2px 0 0px var(--border-color);
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-end: 100px;
  padding-inline: 30px;
}

.theme-menu__button {
  font-family: var(--accent-font), sans-serif;
  border: none;
  line-height: normal;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  padding-inline-start: 27px;
}

.dialog::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  border: 2px solid var(--border-color);
  padding: 30px;
  background-color: var(--bg-color);
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  font-style: normal;
  max-inline-size: 357px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog:not([open]) {
  display: none;
}

.dialog__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  inline-size: 100%;
}

.button-save {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 15px 20px;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
  position: relative;
  text-transform: uppercase;
}

.button-save-text {
  font-family: var(--accent-font), sans-serif;
  mix-blend-mode: difference;
  font-size: 14px;
  font-weight: 400;
  line-height: 12.6px;
  color: var(--mix-blend-color);
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: var(--bg-color);
  cursor: pointer;
  display: flex;
  transition: border-color 0.3s ease;
  justify-content: center;
  padding: 0;
  align-items: center;
}

.floppy-dialog {
  fill: var(--border-color);
  block-size: 39px;
  inline-size: 39px;
  stroke: var(--border-color);
}

.dialog__flex-text {
  font-family: var(--accent-font), sans-serif;
  line-height: 1.5;
  white-space: normal;
  max-inline-size: 234px;
}


@media screen and (width <= 375px) {
  header.content {
    margin-bottom: 100px;
    margin-block-start: 100px;
  }
  .header {
    padding: 7.5rem 0 116px;
  }
  .card__image-label {
    top: 25px;
    right: 11px;
  }
  .card__content {
    padding: 19.2px 25.1px 22.4px 26.1px;
  }
}

@media screen and (width >= 500px) {
  .floppy {
    block-size: 21px;
    inline-size: 21px;
  }
}

@media screen and (width > 375px) {
  .button-remember {
    flex-direction: row;
  }
}
